
body {
  font-family:  monospace;
}

.navbar-flotante {
    position: absolute; 
    top: 20px;          
    left: 0;
    width: 100%;
    z-index: 1000;      
}

.contenedor-nav {
    background-color: rgba(255, 255, 255, 0.9); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    width: 80%;         
    margin: 0 auto;     
    border-radius: 8px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
    font-weight:    bold;
    font-weight: 900;
}

.logo-img {
    height: 50px;       
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #001f3f;    
    font-size: 14px;
    letter-spacing: 1px;
}

.menu li:not(:last-child) {
    border-right: 2px solid #5c7a97;
    padding-right: 25px;
}

.sidebar{
color: aliceblue;
}