* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body, html {
    height: 100%;
    width: 100%;
}
.main-content{
    background: white;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin: 0px;
}

.admin-layout{
    display:flex;height: 100vh;
    font-family: monospace;
    font-size: 20px;
}

.sidebar{
    width: 250px; 
    color: aliceblue;
    border-color: #292626;
    background-color: #1a2223;
    padding: 0;
}

.logo-texto{
    flex:auto;
}
.sidebar-menu {
    padding: 0; 
    margin: 0;
    width: 100%; 
}


.sidebar-menu li {
    list-style: none;
    width: 100%;          
    box-sizing: border-box; 
    padding: 15px 40px;   
    cursor: pointer;
    color: white;
    transition: 0.3s;
    display: flex;        
    align-items: center;  
}
.sidebar-header {
    padding: 40px 25px; 
}



.activo {
    background-color: #141a1b; 
}

.oculto{
    display:none
}
.sidebar-menu li:hover {
    background-color: rgba(255, 255, 255, 0.1); 
}


.logo-admin{
    flex: auto;
    align-items: center;
    padding-right: 5px;
}


.secciones {
    width: 100%;
    height: 100%;
    padding: 20px;
}